@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fffbeb;
    color: #1f2937;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}