@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #f3f4f8;
	color: #1f2937;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
	width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.144);
}

/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	/* background: #d2dcf1; */

	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.315);
}
